@media (min-width: 1200px){
.containermax{max-width:100%;padding:0px 50px 0px 50px;}
.colheight-sm-1,.colheight-md-1 {height: 220px;}
.colheight-sm-2,.colheight-md-2 {height: 400px;}
.colheight-lg-2 {height: 400px;}
}
